.nopadding {
    padding: 10 !important;
    margin: 0 !important;
 }
 .padding-10{
    padding: 10 !important;
 }
 .margin-10{
    margin: 10 !important;
 }
 .minimum-100 {
    min-width: 100px;
 }
 .small-font{
    font-size: 8px;
 }
 .medium-font{
   font-size: 12px;
}
.card-title {
   font-family: "Times New Roman";
   font-style: normal;
   font-size: 12px;
   font-weight: bold;
}